$hover-color: #5ea9a9; // 定义 hover 颜色

.home-container {
  display: flex;
  height: 100vh;
  transition: all 0.1s ease;
  position: relative;
  overflow-y: hidden;

  // 左侧导航
  .sidebar {
    width: 250px; /* 默认展开时的宽度 */
    background-color: #f4f2ec;
    position: relative;
    color: rgb(0, 0, 0);
    border-right: 1px solid rgb(210, 192, 192);
    transition: width 0.1s ease;

    // 切换按钮
    .toggle-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -17px;
      width: 16px;
      height: 40px;
      background-color: #ffffff;
      border: none;
      cursor: pointer;
      border-radius: 0 5px 5px 0;
      z-index: 10;

      &:hover {
        background-color: $hover-color;
      }
    }

    // 左侧导航区域
    .sidebar-box {
      overflow-y: auto;

      .sidebar-header {
        padding: 20px;
        text-align: center;
        font-size: 1.375rem;
        font-weight: 700;
        min-width: 150px;
      }

      .sidebar-content {
        display: flex;
        flex-direction: column;
        padding: 10px;
        min-width: 150px;
        max-height: calc(100vh - 100px);
        overflow-y: auto;

        .menu-item {
          padding: 12px 20px;
          cursor: pointer;
          border-radius: 5px;
          font-size: 1.125rem;
          font-weight: 500;
          color: #333;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          &:hover {
            background-color: $hover-color;
          }

          .menu-icon {
            margin-right: 8px;
          }

          .arrow {
            transform: rotate(0deg);
            transition: transform 0.3s ease;

            &.open {
              transform: rotate(90deg);
            }
          }
        }

        .dropdown-menu {
          width: 100%;

          .submenu-item-btn {
            display: flex;
            width: 100%;
            background: none;

            .submenu-link {
              border-radius: 0.3125rem;
              color: #333;
              text-decoration: none;
              font-size: 0.875rem;
              font-weight: 400;
              display: flex;
              width: 100%;
              margin-left: 3.4375rem;
              padding: 0.3125rem;
              align-items: center;

              &:hover {
                background-color: $hover-color;
              }
            }
          }
        }

        .submenu-item {
          display: flex;
          flex-direction: column;
          width: 100%;
          cursor: pointer;

          .submenu-title {
            display: flex;
            height: 100%;
            width: 100%;
            padding: 0.5rem 2rem;
            font-weight: 500;
            font-size: 1rem;
            border-radius: 0.3125rem;
            justify-content: start;
            &:hover {
              background-color: $hover-color;
            }
          }

          .menu-icon {
            margin-right: 8px;
          }

          .sub-submenu {
            position: relative;

            &::after {
              content: "";
              position: absolute;
              width: 1px;
              height: 100%;
              top: 0;
              left: 2.5rem;
              background-color: #d2c0c0;
            }
          }
        }
      }
    }

    &.sidebar-closed {
      width: 0px;
    }
  }

  // 右侧内容区域
  .content-area {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f2ec;
    transition: margin-left 0.1s ease;
    overflow-x: hidden;
    min-width: 22.5rem;

    .content {
      margin-top: 60px;
      padding: 20px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  }
}
