.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-size: 0.875rem;
  font-family: sans-serif;
  background-color: skyblue;
  overflow: hidden;

  .panels-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .panel {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
      text-align: center;
      transition: transform 1.1s ease-in-out;
      z-index: 9;
      .panel-img {
        margin: 0 auto;
        margin-top: 0.9375rem;
        width: 100%;
        background-color: transparent;
        transition: transform 1.1s ease-in-out;
        transition-delay: 0.4s;

        img {
          width: 100%;
          height: auto;
        }
      }
      .panel-content {
        color: #fff;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;

        .panel-btn {
          width: 8.125rem;
          height: 2.5625rem;
          outline: none;
          border: 0.125rem solid #fff;
          border-radius: 3.0625rem;
          background: none;
          color: #fff;
          font-weight: 600;
          text-transform: uppercase;
          cursor: pointer;
          transition: 0.5s;
        }

        h3 {
          font-size: 1.375rem;
          font-weight: 600;
          line-height: 1;
        }

        p {
          padding: 0.625rem 0;
        }
      }
    }

    .left-panel {
      transform: translateX(0);
      pointer-events: all;
      padding: 2.625rem 17% 1.75rem 12%;
      .panel-content,
      .panel-img {
        transform: translateX(0);
      }
    }

    .right-panel {
      transform: translateX(200%);
      pointer-events: none;
      padding: 2.625rem 12% 1.75rem 17%;
      .panel-content,
      .panel-img {
        transform: translateX(200%);
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    transition: 1.1s ease-in-out;
    width: 125rem;
    height: 125rem;
    background-image: linear-gradient(-45deg, #8a6eff 0%, #ad99fe 100%);
    border-radius: 50%;
    z-index: 3;
  }

  &.sign-up-mode {
    &::before {
      transform: translate(100%, -50%);
      right: 52%;
    }

    .left-panel {
      transform: translateX(-200%);
      pointer-events: none;
      .panel-content,
      .panel-img {
        transform: translateX(-200%);
      }
    }

    .right-panel {
      transform: translateX(0);
      pointer-events: all;
      .panel-content,
      .panel-img {
        transform: translateX(0);
      }
    }

    .forms-container {
      .signin-signup {
        left: 25%;
        .sign-in-form {
          opacity: 0;
          z-index: 1;
        }
        .sign-up-form {
          opacity: 1;
          z-index: 2;
        }
      }
    }
  }
  .forms-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .signin-signup {
      position: absolute;
      top: 50%;
      left: 75%;
      width: 50%;
      transform: translate(-50%, -50%);
      transition: 1s 0.7s ease-in-out;
      display: grid;
      grid-template-columns: 1fr;
      .sign-in-form,
      .sign-up-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        transition: all 0.2s 0.7s;
        .form-title {
          font-size: 1.875rem;
          color: #444;
          margin-bottom: 0.625rem;
        }
        .form-input {
          width: 100%;
          height: 3.4375rem;
          line-height: 3.4375rem;
          border-radius: 3.4375rem;
          display: grid;
          grid-template-columns: 15% 85%;
          padding: 0 0.375rem;
          max-width: 23.75rem;
          background-color: #f0f0f0;
          margin: 0.625rem 0;
          i {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          input {
            outline: none;
            border: none;
            background: none;
            font-size: 100%;
            font-weight: 600;
            line-height: 1;
            color: #333;
            &::placeholder {
              color: #aaa;
              font-weight: 500;
            }
          }
        }
        .code-box {
          position: relative;
          overflow: hidden;
          border-radius: 55px;
          float: left;
          input {
            width: 60%;
          }
          .canvas-box {
            display: flex;
            right: 1.5625rem;
            position: absolute;
            height: 2.5rem;
            margin-top: 0.5rem;
            width: 30%;
          }
        }
        .form-btn {
          width: 9.375rem;
          height: 3.0625rem;
          margin: 0.625rem 0;
          outline: none;
          border: none;
          border-radius: 3.0625rem;
          background-color: #8a6eff;
          color: #fff;
          text-transform: uppercase;
          font-weight: 600;
          cursor: pointer;
          &:hover {
            background-color: #6c48ff;
          }
        }
      }
      .sign-up-form {
        opacity: 0;
        z-index: 1;
      }
      .sign-in-form {
        z-index: 2;
      }
    }
  }
}

@media screen and (max-width: 870px) {
  .container {
    min-height: 47.5rem;
    height: 100vh;

    .panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;

      .panel {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        grid-column: 1 / span 1;
        padding: 2.1875rem 8%;
        .panel-img {
          width: 12.5rem;
        }
        .panel-content {
          padding-right: 15%;

          .panel-btn {
            width: 6.875rem;
            height: 2.1875rem;
            font-size: 0.75rem;
          }

          h3 {
            font-size: 1.125rem;
          }

          p {
            font-size: 0.75rem;
            padding: 0.5rem 0;
          }
        }
      }

      .left-panel {
        grid-row: 1 / span 1;
        transform: translateY(0);
        .panel-content,
        .panel-img {
          transform: translateY(0);
        }
      }

      .right-panel {
        grid-row: 3 / span 1;
        transform: translateY(200%);
        .panel-content,
        .panel-img {
          transform: translateY(200%);
        }
      }
    }

    &::before {
      left: 30%;
      bottom: 68%;
      top: initial;
      right: initial;
      transform: translateX(-50%);
      transition: 1.5s ease-in-out;
      width: 93.75rem;
      height: 93.75rem;
    }

    &.sign-up-mode {
      &::before {
        transform: translate(-50%, 100%);
        right: initial;
        bottom: 32%;
      }
      .left-panel {
        transform: translateY(-200%);
        pointer-events: none;
        .panel-content,
        .panel-img {
          transform: translateY(-200%);
        }
      }

      .right-panel {
        transform: translateY(0);
        pointer-events: all;
        .panel-content,
        .panel-img {
          transform: translateY(0);
        }
      }

      .forms-container {
        .signin-signup {
          left: 50%;
          top: 5%;
          transform: translate(-50%, 0);
        }
      }
    }

    .forms-container {
      .signin-signup {
        top: 85%;
        left: 50%;
        transform: translate(-50%, -100%);
        transition: 1s 0.6s ease-in-out;
        width: 100%;
        .sign-up-form {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          grid-column: 1 / span 1;
          grid-row: 1 / span 1;
          transition: all 0.2s 0.7s;
        }
      }
    }
  }
}

@media screen and (max-width: 570px) {
  .container {
    padding: 1.25rem;

    .panels-container {
      .panel {
        .panel-img {
          display: none;
        }
        .panel-content {
          padding: 0.5rem 0.875rem;
        }
      }
    }

    &::before {
      left: 50%;
      bottom: 72%;
    }

    &.sign-up-mode {
      &::before {
        left: 50%;
        bottom: 28%;
      }

      .forms-container {
        .signin-signup {
          left: 50%;
          top: 15%;
          transform: translate(-50%, 0);
        }
      }
    }
  }
}
